<h1>Ratings</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Wine</th>
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
		<% @ratings.each do |rating| %>
			<tr>
				<td><%= rating.wine.name %></td>
				<td><%= rating.rating %></td>
				<% if admin_user %>
					<td><%= link_to 'DELETE', rating, method: :delete, data: {confirm: "Are you sure"}, class:"btn-danger btn-sm" %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
